     body, ul, li,p {
     margin: 0px;
     padding: 0px;
     list-style: none;
     font-size: 1.2rem;
     font-family: arial;
     }
     
     .logo{
        width: 200px;
        }

        a{
            text-decoration: none;
            color: aqua;
        }
    
    .heade{
        background-color: mistyrose;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: center;
        padding: 20px;
    }
    .menu{
        display: flex;
    }
    .menu li{
        margin-left: 10px;
    }
    .menu li a{
        display: block;
        padding: 10px;
        background-color: darkgreen;
    }
     .imagem01{
      width: 20%;
    }
    .imagem03{
        width: 20%;
    }    
    
.imagem{
    width: 300px; 
    height: auto;
    }

    .item{
        display:flex;
        justify-content: flex-end;
        align-items: flex-start
        /* border: 2px solid #FD5A96; */
        margim: 10px
        }

        .paragrafo{
            padding: 50px;
            text-align: justify;
            }

            .footer{
                background-color: darkseagreen;
                pad: 15px;
                color: black;
                font-size: 30px;
                }

                .redesSocial{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .redeLogo{
                margim: 10px;
                padding: 5px;
                width: 30px;
                height: auto;
                }