body, ul, li,p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;
}
     
.logo{
    width: 300px;
}

a{
    text-decoration: none;
    color: black;
}
    
.header{
    background-color: #f2f1e8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    background-color: darkseagreen;
}
    
.imagem{
    width: 350px; 
    height: auto;
}

.item{
    display: flow-root;
    align-items: center;
    border: 2px solid black;
    margin: 10px;
}

.paragrafo{
    padding: 7px;
    text-align: justify;
}

.flex{
    min-width: 100vh;
    background-color: darkseagreen;
    display: flex;
    justify-content: center;
}

.footer{
    background-color: #f2f1e8;
    pad: 15px;
    color: black;
    font-size: 30px;
}

.redesSocial{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redeLogo{
    margin: 10px;
    padding: 5px;
    width: 30px;
    height: auto;
}